*.Debug 
build-* 
*android-build*
build* 
*.obj
*.stash
Client/android-libClient.so-deployment-settings.json
*.Debug
build-*
*user.*
*.exe
*.o
build*
*.qmlc
*.stash
*.pro
*.user
Client/Client.pro.user
Server_0/Server_0.pro.user
*.exe
*.o
Client/Makefile
*.Debug
*.Release
*.qmlc
*.autosave
Client/Client.pro
